<mat-card>
  <mat-card-header style="text-align: center;">
    <mat-card-title >Δημιουργία Ανακοίνωσης</mat-card-title>
  </mat-card-header>


    <mat-dialog-content style="text-align: center;">
    <mat-form-field class="mat-form-textarea-class">
      <mat-label>Γράψτε μια Ανακοίνωση</mat-label>
      <textarea matInput [(ngModel)]="anak_content" placeholder="Γράψτε μια Ανακοίνωση">
      </textarea>
    </mat-form-field>
    </mat-dialog-content>

  <mat-card-actions>
      <div style="width: 100%; text-align:center;">
        <button (click)="create()" [disabled]="!this.anak_content" color="primary" mat-raised-button
                style="margin-left: 20px;">
          Upload
        </button>
      </div>
  </mat-card-actions>
  </mat-card>




